@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --gold: #7a6026;
  --darkest-blue: #1b2230;
  --dark-blue: #21293b;
  --blue: #26427a;
  --tan: #cfb985;
  --light-blue: #cadafa;
  --lightest-blue: #dae5fc;

  --light: var(--light-blue);
  --dark: var(--dark-blue);
}

@theme inline {
  --color-light: var(--light);
  --color-dark: var(--dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Prevents characters from shifting when split animation runs onComplete */
.split > h1,
.split > p {
  font-kerning: none;
}
